@page "/"

<PageTitle>Home</PageTitle>

<div id="chat_window">

</div>
<div>
    <textarea id="text_input">

    </textarea>
    <input type="button" title="send" @onclick="SendChatMessage"/>
</div>

@code{
    private List<string> messages;
    private void SendChatMessage(){

    }
}