@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Home</PageTitle>
<h3 hidden="@(IsConnected)">Not connected to a.r.d.u</h3>
<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>
<div class="form-group">
    <label>
        Message:
        <input @bind="UserInput" width="50" />
    </label>
</div>
<button @onclick="SendChatMessage" disabled="@(!IsConnected)">Send</button>

@code{
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    string UserInput;
    private async Task SendChatMessage(){
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendTextMessage", UserInput);
        }
    }
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chat"))
            .Build();

        hubConnection.On<string>("ReceiveMessage", (message) =>
        {
            var encodedMsg = $"a.r.d.u: {message}";
            messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }
    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;
    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}